@import url("https://fonts.googleapis.com/css2?family=Days+One&family=Roboto:wght@400;500;700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  html, body {
    font-family: sans-serif;
  }}

@custom-variant dark (&:is(.dark *));

:root {
  --background:#ffff;
  --foreground:#000000;
  /* --secondary: #26509e;    lighterblue*/
  --secondary: #092f64;   
  --card: #092f64;
  --primary-foreground: #FFFFFF;
  --accent: #c9c9c9;            
  --accent-foreground: #0B1F2A;
  /* --primary: #c0cb16;          darkergreen*/
  --primary: #e3e996;         
}

.dark {}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-card: var(--card);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
